$art-size: 31.25rem; // 500px

.single {
	&__wrapper {
		position: absolute;
		height: 102vh;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: all .3s ease;	
		
		@media (min-width: $art-size) {
			align-items: center;
		}
	}
	&__img {
		display: block;
		margin: 0 auto;
		position: relative;
	}
	&__avatar {
		height: 12.5rem;
		width: 12.5rem;
		border-radius: 50%;
		z-index: 3;
	}
	&__artwork {
		width: $art-size;
		max-width: 100%;
		max-height: $art-size;
		opacity: 1;
		overflow: hidden;
		margin-top: -25%;
		margin-bottom: -20%;
		transition: all 0.5s ease, opacity 0.3s linear;

		@media (min-width: $art-size) {
			margin-top: -125px;
			margin-bottom: -100px;
		}
	}
	&__button-wrapper {
		// background-color: blue;
		position: relative;
		display: flex;
		flex-direction: column;
		
		@media (min-width: $art-size) {
		// @media (min-width:$bp) {
			// background-color: dodgerblue;			
			flex-direction: row;

		}
	}
	
	&__button {
		position: relative;
		display: block;
		font-family: monospace;
		@include mono;
		text-transform: uppercase;
		text-align: center;
		padding: 1rem;
		// background-color: pink;
		font-size: 1.5rem;
		transition: all .3s ease;
		overflow: hidden;

		// @media (min-width: $bp) {
		@media (min-width: $art-size) {
			width: 100px;
		}

		&.isLoading {
			color: rgba(0,0,0,.3);
			&:hover {
				cursor: wait;
			}
		}
	}	
}