// 
// STATE
// 

// for the audio play button
.isLoading {
	color: rgba(0,0,0,.3);
	&:hover { cursor: wait; }
}


// for the info modal
.isHidden {
	transform: translateY(-100%);
	opacity: 0;	
	
	@media (min-width: $bp) {
		// for left aligned

		// for right aligned
		transform: translateX(100%); 
	}
}


// single class when info is visible
.isMini {
	
	// do nothing to single @ mobile

	.video__close {
		transform: translateX(0);
		padding-top: 1rem;
		color: $yellow;
	}
	
	@media (min-width: $bp) {
		right: $modal-width;
	}
}


// when the video is playing
.isPlayingVideo {
	
	.single__artwork {
		// transition: max-height 0.4s ease, opacity 0.2s linear;
		// transition: all 3s ease;
		margin: 0 auto;
		max-height: 0%;
		opacity: 0;
	}

	.single__video {
		opacity: 1;
	}

	.video__wrapper {
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
	}
}

// not in use
// for when the song is playing
.isPlayingAudio {}