doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title Aminé | Caroline

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		//- link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/main.css')
		//- script(src='js/vendor/modernizr-2.6.2.min.js')

		script(src='https://connect.soundcloud.com/sdk/sdk-3.1.2.js')
		script(src='http://code.jquery.com/jquery-1.7.2.js')
		script(src='https://w.soundcloud.com/player/api.js')
	
	body 
		.single__wrapper#single
			.single__avatar.single__img
				img#js-avatar
			.single__artwork.single__img
				 img#js-artwork				
			a#js-button.single__button.isLoading(href="#") 
				span play
				iframe#js-iframe( height='450', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/251059513&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&visual=true')
			a.single__button#test-button(href="https://www.youtube.com/watch?v=3j8ecF8Wt4E") watch
			a.single__button(href="http://apple.co/1Z2RqOg") buy

		#finished.isHidden.modal
			h1.modal__header thanks for listening
			p.modal__text 
				| This page was hacked together today for fun and is in no way associated with the artist. Check out all of 
				a(href="https://soundcloud.com/heyamine/") Aminé's
				|  music at his soundcloud page and support PDX artists.
			//- blog post link
			//- p.modal__text 
			//- 	| If you want to read more about how infuriating the soundcloud api can be, feel free to read my (semi)informative rant 
			//- 	a(href="tayo.co/blog") here
			//- 	| .
			a(href="#")#js-modalClose.modal-close.modal__close X

		#js-modalOpen.toggle info



script(src="script/soundmanager2.js")
//- script(src="script/modal.js")
script.
	
	// dom refs
	var button = document.getElementById('js-button');
	
	// SOUNDCLOUD VARS
	var trackId = 251059513;
	var CLIENT_ID = 'e7ad18cc61078829bd889cce75510719';
	var getTrackUrl = 'https://api.soundcloud.com/tracks/' + trackId + '?client_id=' + CLIENT_ID;

	//
	// soundmanager stuff
	//
	soundManager.onready(function() {		
		console.log('sm ready'); // SM2 is ready to go! 
	});

	//
	// Initialize SDK
	//
	SC.initialize({
		client_id: CLIENT_ID
	});	
	
	// var trackInfo = 
	var trackInfo = {};

	$.get(getTrackUrl).done(function(track){
		console.log(track);
		
		// get the avi; fix string; set it to avi src
		var avi = track.user.avatar_url;
		var avatarURL = avi.replace('-large', '-t200x200');
		document.getElementById('js-avatar').src = avatarURL;
		
		// do the same w/ artwork
		var art = track.artwork_url;
		var artworkURL = art.replace('-large', '-t500x500');
		document.getElementById('js-artwork').src = artworkURL;
		
		// Setup the sound && addEventListeners
		var sound = soundManager.createSound({
			id: 'caroline',
			url: track.stream_url + "?client_id=" + CLIENT_ID,
			stream: true,

			onpause: function() {
				console.log('sm pause');
				document.body.style.backgroundColor = 'purple'
				buttonText.innerHTML = 'PLAY';
				toggleTheModal();
			},
			onplay: function() {
				console.log('sm play');
				document.body.style.backgroundColor = 'pink'
				buttonText.innerHTML = 'PAUSE';
			},
			onresume: function() {
				console.log('sm onresume')
				document.body.style.backgroundColor = 'teal'
				buttonText.innerHTML = 'PAUSE';
			},
			onfinish: function() {
				console.log('sm finish');
				//- document.getElementById('finished').classList.remove('isHidden');
				toggleTheModal();
			},
		});		
		
		// add play/pause button
		button.addEventListener('click', function(e) {
			e.preventDefault();
			console.log('new button click');
			
			sound.togglePause();
			//- sound.togglePause();			
			//- soundManager.togglePause('caroline', {})
			//- document.getElementById('test-button').

		}, false);		

		sound.onplay
	})

	// 
	// handle iFrame/embed controls
	//
	var iFramePlayButton = document.getElementsByClassName('playButton')[0];
	// iFramePlayButton.addEventListener('click', function(){ 
	//   console.log('paly buttn clcijakdfjkadsf');
	// }, false)
	var iFrame = document.getElementById('js-iframe');
	iFrame.addEventListener('click', function() {
		// this.hide();
		console.log('iframe click');
	})

	// vars
	var player = SC.Widget(document.getElementById('js-iframe'));
	var button = document.getElementById('js-button');
	var buttonText = button.children[0];
	// btn click handler
	//- button.addEventListener('click', function(e) {
	//- 	e.preventDefault();
	//- 	console.log('button click');
	//- 	player.toggle();
	//- }, false);

	// 
	// SOUNDCLOUD EVENTS 
	//

	// on ready, undim the play button
	player.bind(SC.Widget.Events.READY, function() {
		console.log('is laoding');
		button.classList.remove('isLoading');
	});

	// on play
	//- player.bind(SC.Widget.Events.PLAY, function(e){
	//- 	console.log('play');
	//- 	buttonText.innerHTML = 'PAUSE';
	//- });

	// on pause
	//- player.bind(SC.Widget.Events.PAUSE, function(e){
	//- 	console.log('pause');
	//- 	buttonText.innerHTML = 'PLAY';
	//- });

	// on finish
	//- player.bind(SC.Widget.Events.FINISH, function() {
	//- 	document.getElementById('finished').classList.remove('isHidden');
	//- });


	//
	// MODAL TOGGLE
	//	
	var wrapper = document.getElementById('single');
	var modal = document.getElementById('finished');
	var modalOpen = document.getElementById('js-modalOpen');
	var modalClose = document.getElementById('js-modalClose');

	function closeTheModal() {
		modal.classList.add('isHidden');
		single.classList.remove('isMini');
		modalOpen.innerHTML = 'info';
	}
	function openTheModal() {
		modal.classList.remove('isHidden');
		single.classList.add('isMini');
		modalOpen.innerHTML = 'close';
	}
	function toggleTheModal() {
		var modalIsHidden = modal.classList.contains('isHidden');
		modalIsHidden ? openTheModal() : closeTheModal() ;
	}

	modalClose.addEventListener('click', closeTheModal);
	modalOpen.addEventListener('click', toggleTheModal);
	